<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fasBackTechnician.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2578581F21EF8B005D673E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2578741F21EF8C005D673E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE25787F1F21EF8C005D673E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
